<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.2.2.2.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">

    <!-- Le fav and touch icons -->
  <!-- Update these with your own images -->
    <link rel="shortcut icon" href="assets/images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

    <!-- atom & rss feed -->
    <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">

  </head>

  <body>
    
  <!-- Place banner image aligned with column layout --> 
  <div class="top-area">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span2">
	  </div>
      <div class="span10">
	    <!-- Column center (banner goes here) -->
        <div class="banner-header">
		  <!--<a href="{{ HOME_PATH }}"><img src="{{ site.url }}/assets/images/logoopenjpeg_616x198.png" alt="openjpeg"  width="616" height="198"></a> -->
		  <a href="{{ BASE_PATH }}"><img src="{{ BASE_PATH }}/assets/images/opj_logo_full.png" alt="opj_logo" width="650"></a>
      <!--<a href="{{ BASE_PATH }}"><img src="{{ BASE_PATH }}/assets/images/openjpeg_simple.png" alt="openjpeg" width="300"></a>-->
		  <div class="banner-tagline">{{ site.tagline }}</div>
        </div>
      </div>
    </div>
  </div>
  </div>
  
  <div class="container-fluid">
	<div class="row-fluid">
	  <div class="span2">
	    <div class="sidebar">
        
        <h2>Downloads</h2>
          <p><a href="{{ site.latestReleaseURL }}">Latest release (v{{ site.binVersion }})</a></p>
          <p><a href="{{ site.allReleasesURL }}">Previous releases</a></p>
          
      </div>
         
      <div class="sidebar">
        <h2>Documentation</h2>
          <p><a href="{{ site.docInstallURL }}">Build / Installation</a></p>
          <p><a href="{{ site.docUsageURL }}">Usage</a></p>
      </div>

      <div class="sidebar">
        <h2>Community</h2>
          <p><a href="{{ site.mlURL }}">Mailing-list</a> (<a href="{{ site.mlsubURL }}">subscribe</a>)</p>
          <p><a href="{{ site.issuesURL }}">Issue tracker</a> (<a href="{{ site.newIssueURL }}">fill an issue</a>)</p> 
      </div>
      

      <div class="sidebar">
        <h2>Developers</h2>
          <p><a href="{{ site.gitURL }}">Source code</a></p>
          <p><a href="{{ site.dataURL }}">Test files</a></p> 
          <p><a href="{{ site.ciURL }}">CDash</a></p>
          <p><a href="{{ BASE_PATH}}/doxygen">Doxygen</a></p>
          <p><a href="{{ BASE_PATH}}/abi-check/timeline/openjpeg">ABI/API timeline</a></p>
      </div>
	  </div>
	
	  <div class="span6">
	    <!-- Column center (main content) -->
        <div class="content">
          {{ content }}
        </div>	
	  </div>
	  	  
	  <div class="span3"> 
              
	    <div class="sidebarLeft">
	      <!-- Column right -->
        <p><a href="{{ site.refSoftURL}}"><img src="{{ BASE_PATH }}/assets/images/J2Klogo_wide.png" alt="JPEG 2000 Reference software"  width="200"></a></p>
    <br>
    <p><a href="{{ site.uclURL}}"><img src="{{ BASE_PATH }}/assets/images/UCL_logo.png" alt="UCL"  width="160"></a></p>
    <br>
    <!--<p><a href="{{ site.icteamURL}}"><img src="{{ BASE_PATH }}/assets/images/logo-icteam.jpg" alt="ICTEAM"  width="160"></a></p>
    <br>-->
    <p><a href="{{ site.intopixURL}}"><img src="{{ BASE_PATH }}/assets/images/logo_intopix.png" alt="INTOPIX"  width="160"></a></p>
    <br><br>
    <p><a class="twitter-timeline" href="https://twitter.com/OpenJPEG" data-widget-id="619207551389986816">Tweets de @OpenJPEG</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></p>
    <figure>
          <a href="{{ BASE_PATH }}/rss.xml"><img src="{{ BASE_PATH }}/assets/images/feed-icon-32.png" alt="RSS" width="32" height="32"></a>
          <figcaption>
            <a href="{{ BASE_PATH }}/rss.xml">RSS</a>
          </figcaption>
        </figure>

        <figure>
          <a href="{{ BASE_PATH }}/atom.xml"><img src="{{ BASE_PATH }}/assets/images/feed-icon-32.png" alt="ATOM" width="32" height="32"></a>
          <figcaption>
            <a href="{{ BASE_PATH }}/atom.xml">ATOM</a>
          </figcaption>
        </figure>
	    </div>
        
      </div>	  
	</div>
	
	<footer>
	<hr>
	<div class="row-fluid">
      <div class="span2">
	    <!-- Column left (empty) -->
	  </div>
	  
	  <div class="span6">
	  <!-- Column center (footer text) -->
	    <p><small>&copy; {{ site.time | date: '%Y' }} {{ site.author.name }}
        with help from <a href="http://jekyllbootstrap.com" target="_blank" title="The Definitive Jekyll Blogging Framework">Jekyll Bootstrap</a>
        and <a href="http://getbootstrap.com" target="_blank">Bootstrap</a></p>
      </div>
	</div>
    </footer>
  </div>

    {% include JB/analytics %}
  </body>
</html>
